<%= render 'collections/filter' %>
<% if @category.present? %>
  <% content_for :title do "#{@category.name} | #{Settings.app.name}"; end %>
  <h1 style="text-align:left; padding-top:0px;padding-bottom:20px"><%= @category.name %></h1>

  <% content_for :meta do %>

  <meta property="og:title" content="<%= @category.name %> | <%= Settings.app.name %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%=category_url(assigned_locale, @category.slug)%>"/>
  <meta property="og:locale" content="<%=assigned_locale%>" />
  <% if @scope.page("__categories__#{@category.try(:slug)}").present? %>
    <meta property="og:description" content="<%= strip_tags(@scope.page("__categories__#{@category.try(:slug)}").body).squish %>" />
  <% end %>
  <!--
  <PageMap>
     <DataObject type="document">
        <Attribute name="title"><%= @category.name %> | <%= Settings.app.name %></Attribute>
        <Attribute name="author">FashionFly</Attribute>
        <% if @scope.page("__categories__#{@category.try(:slug)}").present? %>
          <Attribute name="description">
            <%= strip_tags(@scope.page("__categories__#{@category.try(:slug)}").body).squish %>
          </Attribute>
        <% end %>
        <Attribute name="category"><%= @category.name %></Attribute>
        <Attribute name="last_update"><%= @category.updated_at %></Attribute>
     </DataObject>
  </PageMap>
  -->
  <% end %>
<% end %>

<div class="white_box pagination_options" ng-controller="FilterController">
  <%= t('.sort_by') %>
  <select id="sort_by"  ng-change="changeSelect('sort_by',selectSort)" ng-model="selectSort" ng-options="sort for sort in sortings" values='<%= t('products.products.sorting_values') %>'></select>
  <%= t('.select_per') %>
  <select id="per"  ng-change="changeSelect('per',selectPer)" ng-model="selectPer" ng-options="per for per in pers" ></select>

</div>
<div class="collections" ng-controller="FavoriteController">

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- FashionFly Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3481906310275052"
     data-ad-slot="1965934592"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<br /><br />

  <%= render @collections %>
  <div class="clear"></div>
  <%= paginate @collections %>
</div>
<div class="clear"></div>
<% content_for :seo_text do %>
  <%= render_seo_block "__collections__#{@category_group.try(:slug)}" %>
<% end %>
