<div class="collection_show" ng-controller="FavoriteController">
  <div class="leftside">
    <h2><%= @collection.title %></h2>
    <%= image_tag @collection.image.original %>
    <a  class="love_button <%= favorite(@collection) %>" 
        ng-click="clickFavorite('col',<%= @collection.id %>)" 
        id="col<%= @collection.id %>"
        path="<%= collection_favorites_path(assigned_locale, @collection) %>"></a>
    <div class="share">
      <div class="ratable">
        <%= rating_for @collection, "rate", :star => 5 %> 
      </div>

      <span><%= t('.share') %></span> <%= social_share_button_tag(@collection.title, :popup => "true") %>
<h3><%= t('.embedd_to') %></h3>
<textarea readonly>
<%= javascript_include_tag javascript_url("widget"), type:'text/javascript' %>
<div class='fashionfly-widget' data='<%=@collection.id %>' host="<%= request.host_with_port %>"></div>

</textarea>
    </div>

    <div class="details">
      <%= image_tag user_image(@collection.user, :smaller) %>
      <div class="inner">
        <h3><%= @collection.title %></h3>
        <%= raw t('.created_from', user: user_name(@collection.user),
                          url: user_profile(@collection.user)) %> <br />
        <%= raw t('.created_at', date: l(@collection.created_at, format: :short)) %>
        <div class="description">
          <%= simple_format @collection.description %>
        </div>       
      </div>
      <div style="clear:both"></div>
    </div>

    <% if current_user.present? %>
    <div class="commenting_box">
      <h3><%= t('.create_comment') %></h3>
      <%= form_for :comment, 
                  url: collection_comments_path(locale: assigned_locale, collection_id:@collection),
                  html:{class: 'formular'} do |f| %>
        <%= f.text_area :comment, placeholder: t('.your_comment') %>

        <%= f.submit t('.save_comment') ,class: 'button' %>
      <% end %>
    </div>
    <% end %>

    <%= render @collection.comments %>



  </div>
  <div class="productviews">
    <h2><%= t('.used_products') %></h2>
  <% for product in @collection.products %>
    <%= render 'products/small_product', product: product %>
  <% end %>
  </div>
  <div style="clear:both"></div>
</div>