<div class="entry item">
  <%= image_tag(entry.image, alt: entry.title) if entry.image.present? %>
  <div class="inner">
    <h2><%= link_to entry.title, entry.url, target: '_blank' %></h2>
    <div class="author">
      <%= entry.author %>, <%= l entry.published %>
    </div>
    <p><%= truncate(sanitize(entry.summary, tags: []), length: 150) %></p>a
    <div class="author" style="padding-top:10px;">
      <%= entry.tags.join(', ') %> 
    </div>
  </div>
</div>