!!!
%html
  %head
    %title FashionFlyEditor
    = stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700", media: "all" 
    = stylesheet_link_tag    "fashion_fly_editor/application", media: "all"
    = stylesheet_link_tag    "overwrites", media: "all"
    = csrf_meta_tags
  %body{'ng-app' => 'ffe','products_endpoint' => "#{FashionFlyEditor::Engine.configuration.products_endpoint}",'categories_endpoint' => "#{FashionFlyEditor::Engine.configuration.categories_endpoint }"}
    = render 'shared/facebook_snippet'
    = render 'layouts/fashion_fly_editor/header'
    = yield
    = render 'fashion_fly_editor/layouts/custom_footer'
    = javascript_include_tag "language"
    = javascript_include_tag "//code.jquery.com/jquery-1.11.0.min.js"
    = javascript_include_tag "fashion_fly_editor/application"
