  <div class="group">
    <%= f.label :name, t("activerecord.attributes.affilate.name", :default => "Name"), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description">Hier der Name des Affiliate Programm</span>
  </div>

  <div class="group">
    <%= f.label :file, t("activerecord.attributes.affilate.locale", :default => "File"), :class => :label %>
    <%= f.file_field :file, :class => 'file_field' %><br />
    <span class="description">Affiliate XML</span>
  </div>
        
  <div class="group">
    <%= f.label :importer, t("activerecord.attributes.affilate.importer", :default => "Importer"), :class => :label %>
    <%= f.select :importer, Affiliate.IMPORTERS, :class => 'file_field' %><br />
    <span class="description">Affiliate XML</span>
  </div>

  <div class="group">
    <%= f.label :item_tag, t("activerecord.attributes.affilate.item_tag", :default => "item_tag"), :class => :label %>
    <%= f.text_field :item_tag, :class => 'text_field' %>
    <span class="description">Der Tag der ein Produkt umklammert</span>
  </div>

  <div class="group">
    <%= f.label :category_tag, t("activerecord.attributes.affilate.category_tag", :default => "category_tag"), :class => :label %>
    <%= f.text_field :category_tag, :class => 'text_field' %>
    <span class="description">Der Tag der in der die Kategorie steht</span>
  </div>

  <div class="group">
    <%= f.label :category_split_char, t("activerecord.attributes.affilate.category_split_char", :default => "category_split_char"), :class => :label %>
    <%= f.text_field :category_split_char, :class => 'text_field' %>
    <span class="description">Wenn leer gelassen wird, nimmt das Programm ein Leerzeichen als Sperator</span>
  </div>

  <div class="group">
    <%= f.label :ean_tag, t("activerecord.attributes.affilate.ean_tag", :default => "ean_tag"), :class => :label %>
    <%= f.text_field :ean_tag, :class => 'text_field' %>
    <span class="description">Der EAN Tag</span>
  </div>

  <div class="group">
    <%= f.label :image_tag, t("activerecord.attributes.affilate.image_tag", :default => "image_tag"), :class => :label %>
    <%= f.text_field :image_tag, :class => 'text_field' %>
    <span class="description">Alternative Tags mit komma Separieren</span>
  </div>

  <div class="group">
    <%= f.label :name_tag, t("activerecord.attributes.affilate.name_tag", :default => "name_tag"), :class => :label %>
    <%= f.text_field :name_tag, :class => 'text_field' %>
    <span class="description">Tag für Produktname</span>
  </div>

  <div class="group">
    <%= f.label :number_tag, t("activerecord.attributes.affilate.number_tag", :default => "number_tag"), :class => :label %>
    <%= f.text_field :number_tag, :class => 'text_field' %>
    <span class="description">Tag für Produktnummer</span>
  </div>

  <div class="group">
    <%= f.label :description_tag, t("activerecord.attributes.affilate.description_tag", :default => "description_tag"), :class => :label %>
    <%= f.text_field :description_tag, :class => 'text_field' %>
    <span class="description">Tag für Beschreibung</span>
  </div>

  <div class="group">
    <%= f.label :brand_tag, t("activerecord.attributes.affilate.brand_tag", :default => "brand_tag"), :class => :label %>
    <%= f.text_field :brand_tag, :class => 'text_field' %>
    <span class="description">Tag für Brand</span>
  </div>

  <div class="group">
    <%= f.label :price_tag, t("activerecord.attributes.affilate.price_tag", :default => "price_tag"), :class => :label %>
    <%= f.text_field :price_tag, :class => 'text_field' %>
    <span class="description">Tag für Preis</span>
  </div>

  <div class="group">
    <%= f.label :currency_code_tag, t("activerecord.attributes.affilate.currency_code_tag", :default => "currency_code_tag"), :class => :label %>
    <%= f.text_field :currency_code_tag, :class => 'text_field' %>
    <span class="description">Tag für Währung</span>
  </div>

  <div class="group">
    <%= f.label :shipping_cost_tag, t("activerecord.attributes.affilate.shipping_cost_tag", :default => "shipping_cost_tag"), :class => :label %>
    <%= f.text_field :shipping_cost_tag, :class => 'text_field' %>
    <span class="description">Tag für Versandkosten</span>
  </div>

  <div class="group">
    <%= f.label :delivery_time_tag, t("activerecord.attributes.affilate.delivery_time_tag", :default => "delivery_time_tag"), :class => :label %>
    <%= f.text_field :delivery_time_tag, :class => 'text_field' %>
    <span class="description">Tag für Versandzeit</span>
  </div>

  <div class="group">
    <%= f.label :last_modified_tag, t("activerecord.attributes.affilate.last_modified_tag", :default => "last_modified_tag"), :class => :label %>
    <%= f.text_field :last_modified_tag, :class => 'text_field' %>
    <span class="description">Tag für Zuletzt geändert</span>
  </div>

  <div class="group">
    <%= f.label :link_tag, t("activerecord.attributes.affilate.link_tag", :default => "link_tag"), :class => :label %>
    <%= f.text_field :link_tag, :class => 'text_field' %>
    <span class="description">Tag für Link</span>
  </div>

  <div class="group">
    <%= f.label :ready, t("activerecord.attributes.affilate.ready", :default => "Ready to Import"), :class => :label %>
    <%= f.check_box :ready, :class => 'file_field' %><br />
    <span class="description">Auswählen wenn beim nächsten Durchlauf die Affiliates Importiert werden sollen.</span>
  </div>


<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
  <%= link_to t("web-app-theme.cancel", :default => "Cancel"), backend_scope_affiliates_path(@scope), :class => "text_button_padding link_button" %>
</div>