<% if @scope.present? && !@scope.new_record? %>
<div class="block">
  <h3>Scope Konfiguration</h3>
  <ul class="navigation">
    <li><%= link_to t('.affiliate'), backend_scope_affiliates_path(@scope) %></li>
    <li><%= link_to t('.categories'), backend_scope_categories_path(@scope) %></li>
    <li><%= link_to t('.outfit_categories'), backend_scope_outfit_categories_path(@scope) %></li>
    <li><%= link_to t('.contest'), backend_scope_contests_path(@scope) %></li>
    <li><%= link_to t('.pages'), backend_scope_pages_path(@scope) %></li>
  </ul>
</div>
<% end %>