<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", backend_scopes_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_backend_scope_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Länderbereiche</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.backend_scope.country_code", :default => t("activerecord.labels.country_code", :default => "Country_code")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @scopes.each do |scope| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= scope.id %>
          </td>
                    <td>
            <%= link_to scope.country_code, backend_scope_path(scope) %>
          </td>
                    <td>
            <%= scope.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", backend_scope_path(scope) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_backend_scope_path(scope) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", backend_scope_path(scope), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
