<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", backend_scopes_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_backend_scope_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", backend_scope_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.backend_scope.country_code", :default => t("activerecord.labels.country_code", :default => "Country code")) %>:</b>
          <%= @scope.country_code %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.backend_scope.locale", :default => t("activerecord.labels.locale", :default => "Locale")) %>:</b>
          <%= @scope.locale %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_backend_scope_path(@scope), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), backend_scope_path(@scope), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>