<%= form_for @property, url: property_path(assigned_locale), 
                   html:{class: 'formular profile_edit', multipart: true } do |f| %>

    <div>
        <%= f.check_box :show_new_startpage %>
        <%= f.label :show_new_startpage %><br /><br />
    </div>

  <% ['shop', 'collection', 'category'].each do |x| %>
    <div>
        <%= f.label "#{x}_highlight_title".to_s, class: 'label' %>
        <%= f.text_field "#{x}_highlight_title".to_s %>
    </div>

    <div>
        <%= f.label "#{x}_highlight_link".to_s, class: 'label' %>
        <%= f.text_field "#{x}_highlight_link".to_s %>
    </div>

    <div>
        <%= f.label "#{x}_highlight_image".to_s, class: 'label' %>
        <div class="upload_box">
          <%= image_tag f.object.send("#{x}_highlight_image".to_s) %><br />
          <%= f.hidden_field "#{x}_highlight_image_cache".to_s %>
          <%= f.file_field "#{x}_highlight_image".to_s %>
        </div>
    </div>

  <% end %>

  <div class="action">
    <%= f.submit t('action.save'), class: 'button' %>
  </div>


  <div class="clear"></div>
<% end %>