<footer class="footer">
  <div class="footer_inner">
  <div class="container">
    <div class="first_column">
      <h2><%= t('.what_is_fashionfly') %></h2>
      <p><%= t('.answer_1') %></p>
      <p><%= t('.answer_2') %></p>
      <p><%= t('.answer_3') %></p>
    </div>
    <div class="second_column">
      <h2><%= t('.information') %></h2><
      <ul>
        <li><%= link_to raw(t('.about')), about_path(assigned_locale) %></li>
        <li><%= link_to raw(t('.team')), team_path(assigned_locale) %></li>
        <li><%= link_to raw(t('.faq')), faq_path(assigned_locale) %></li>
        <li><%= link_to raw(t('.impress')), impress_path(assigned_locale) %></li>
        <li><%= link_to raw(t('.terms')), terms_path(assigned_locale) %></li>
        <li><%= link_to raw(t('.privacy')), privacy_path(assigned_locale) %></li>
        <li><%= link_to raw(t('.disclaimer')), disclaimer_path(assigned_locale) %></li>
      </ul>
    </div>
    <div class="first_column">
      <h2><%= t('.find_us') %></h2><br />
      <p class="nounderline">
        <%= social_footer_link :facebook %>
        <%= social_footer_link :twitter %>
        <%= social_footer_link :google %>
        <%= social_footer_link :pinterest %>
        <%= social_footer_link :instagram %>
        <%= social_footer_link :youtube %>
      </p>
    </div>

    <div class="clear"></div>
    <div class="footer_ending">
      <%= link_to image_tag('madewith.png', title: 'Made With Love in Hamburg'), 'http://www.hansehype.de', title: 'Ruby on Rails Hamburg' %> <br />
      <%= link_to 'Programmierer Hamburg', 'http://www.programmierer-hamburg.com/', title: 'Programmierer Hamburg', style: 'font-size:11px' %> -
      <%= link_to 'App Entwickler finden', 'http://www.appentwickler-finden.de/', title: 'App Entwickler finden', style: 'font-size:11px' %>

    </div>
  </div>
  </div>
</footer>


<% if @scope.hidden.present? %>
  <div style="display:none">
    <%=raw @scope.hidden %>
  </div>
<% end %>
