<header class="header" ng-controller="HeaderController">
  <div class="top_header">
    <div class="container">
      <%= link_to (image_tag 'logo.png', id: 'logo', title:'FashionFly'), scoped_root_path %>
      <iframe src="//www.facebook.com/plugins/like.php?href=<%= like_url %>&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=365563203593715" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true" id="facebook_count"></iframe>

      <div class="right_side_header">
        <ul class="top">
          <% if current_user.present? %>
            <li class="dropdownmenu"><%=link_to "#{current_user.name}", user_profile(current_user) %>
              <ul>
              <li>
                  <%= link_to t('.my_fashionfly'), user_profile(current_user), class: 'item', title: t('.my_fashionfly') %>
              </li>
              <li>
                <%= link_to t('.sign_out'), destroy_user_session_path, :method => :delete, title:  t('.sign_out')%>
              </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t('.sign_in'), new_user_session_path(locale:assigned_locale), title: t('.sign_in') %></li>
            <li><%= link_to t('.sign_up'), new_user_registration_path(locale:assigned_locale), title: t('.sign_up') %></li>

          <% end %>
            <li class="dropdownmenu">
              <%= link_to generate_name_and_flag(@scope.country_code),'#', 
                    class: 'flag'%>
              <ul>
                <% for country in Scope.countries %>
                  <li>
                    <%= link_to generate_name_and_flag(country[:code]), 
                    root_path(locale: country[:locale]) %>
                  </li>
                <% end %>
              </ul>
            </li>
            <li><a  href="<%= contests_path(assigned_locale) %>" 
                      class="item"
                      title="<%= t('.contest') %>">
                    <%= t('.contest') %>
                  </a>
              </li>

             <li><%= link_to t('.faq'), faq_path(assigned_locale), title: t('.faq') %></li>
        </ul>
        <div class="clear"></div>
        <ul class="bottom">
            <nav class="header_navigation">
              <li class="last"><a  href="<%= fashion_fly_editor_path(assigned_locale) %>" 
                      class="item bluebutton" 
                      title="<%= t('.create_outfit') %>">
                      <%= t('.create_outfit') %>
                  </a>
              </li>
            </nav>
        </ul>
      </div>
    </div>
  </div>
  <nav class="header_navigation">
    <div class="container">
      <li class="<%= 'selected' if @outfit_category.present?%>">
          <a  href="<%= outfit_categories_path(assigned_locale) %>" 
              class="item"
              title="<%= t('.outfit') %>">
            <%= t('.outfit') %>
        </a>
        <ul class="outfit_submenu">
          <% for outfit_category in outfit_category_groups %>
            <li>
              <span><%= outfit_category.name %></span>
              <ul>
                <% for subcategory in outfit_category.categories %>
                  <li>
                    <a  href="<%= outfit_category_path(assigned_locale,subcategory.slug) %>" 
                        title="<%=subcategory.name %>">
                      <%= subcategory.name %>
                    </a>
                  </li>                
                <% end %>
              </ul>
            </li>
          <% end %>
          <li class="clear"></li>
        </ul>

      </li>
      <% for category in category_groups %>
        <li class="<%= 'selected' if @category_group.present? && category.id == @category_group.id %>">
          <a  href="<%= category_path(assigned_locale, category.slug) %>" 
              class="item"
              title="<%= category.name %>">
              <%= category.name %>
          </a>
          <ul class="submenu">
          <% for subcategory in category.categories %> 
            <li> 
              <a  href="<%= category_path(assigned_locale,subcategory.slug) %>"
                  title="<%= subcategory.name %>"><%= subcategory.name %>
              </a>
            </li>
          <% end %>
          </ul>
        </li>
      <% end %>
      <% if can? :manage, Shop %>
        <li>
          <%= link_to t('.shop_settings'), 
                      shoplist_path(assigned_locale),
                      class: 'item' %>
        </li>
      <% end %>
    </div>
  </nav>
</header>