<% unless @widget.present? %>
  <div class="collection">
    <div class="image_container">
      <%=link_to collection_path(assigned_locale, collection) do %>
        <%= image_tag('', "my-src" => collection.image.preview.url, 
                      class: 'collection_image',
                      alt: collection.title,
                      title: collection.title)%>
      <% end %>
      <a  class="love_button <%= favorite(collection) %>" 
          ng-click="clickFavorite('col',<%= collection.id %>)" 
          id="col<%= collection.id %>"
          path="<%= collection_favorites_path(assigned_locale, collection) %>"></a>
    </div>
    <h3><%= link_to(truncate(collection.title, length: 100), 
                    collection_path(assigned_locale, collection), 
                    title: collection.title)%></h3>
    <h4><%= raw t('.from_user', user: user_name(collection.user), 
                            url: user_profile(collection.user)) %></h4>
  </div>
<% else %>
  <div class="collection">
    <%=link_to collection_url(assigned_locale, collection) do %>
      <%= image_tag image_url('logo.png'), class: 'fashion_logo', alt: 'FashionFly' %>
    <% end %>    
    <div class="image_container">
      <%=link_to collection_url(assigned_locale, collection) do %>
        <%= widget_collection_image_tag(collection) %>
      <% end %>
      <% for item in collection.collection_items.order(order: :asc) %>
        <a class='area' style="<%= css_calculate_dimension(item, @collection)%>" 
                                href="<%= productref_url(assigned_locale,item.item_id) %>" 
                                data-information='<%= item.item_id %>infobox'
                                target="_blank">
        </a>
        <%= information_span(item.item_id, collection) %>
      <% end %>
    </div>
    <h3><%=  collection.title %></h3>
    <h4><%= raw t('.from_user', user: user_name(collection.user), 
                            url: user_profile(collection.user)) %></h4>
  </div>
<% end %>