<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", backend_categories_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_backend_category_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", backend_category_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.backend_category.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @category.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.backend_category.category_id", :default => t("activerecord.labels.category_id", :default => "Category")) %>:</b>
          <%= @category.category_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.backend_category.slug", :default => t("activerecord.labels.slug", :default => "Slug")) %>:</b>
          <%= @category.slug %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.backend_category.scope_id", :default => t("activerecord.labels.scope_id", :default => "Scope")) %>:</b>
          <%= @category.scope_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.backend_category.main_taxon", :default => t("activerecord.labels.main_taxon", :default => "Main taxon")) %>:</b>
          <%= @category.main_taxon %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_backend_category_path(@category), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), backend_category_path(@category), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>