<div class="filter" ng-controller="FilterController">
  <div class="block_box category_select">
    <h2><%= t('.category_title') %></h2>
    <ul>
      <% for category in create_categories(@category_group) %>
        <li class="<%= 'active' if @main_category.present? && @main_category.id == category.id %>">
          <%= link_to category.name, category_path(assigned_locale, category.slug), title: category.name %>
          <% if @main_category.present? && @main_category.id == category.id %>
          <ul>
            <% for subcategory in category.categories %>
            <li class="<%= 'active' if @category.present? && @category.id == subcategory.id %>"> 
              <%= link_to subcategory.name, 
                          category_path(assigned_locale, subcategory.slug),
                          title: subcategory.name %></li>
            <% end %>
          </ul>
          <% end %>
        </li>  
      <% end %>
    </ul>
  </div>

  <div class="block_box color_filter">
    <h2><%= t('.price') %></h2>
    <div class="inner">
      <select id="price"  ng-change="changeSelect('price', selectedItem)" ng-model="selectedItem" ng-options="item for item in items"></select>
    </div>
  </div>

  <div class="block_box color_filter">
    <h2><%= t('.color_title') %></h2>
    <div class="inner">
      <% for hex in Colorization.colorhex %>
        <%= link_to '', '#',  style: "background: #{hex}", 
                                     'ng-click' => "colorSelect('#{hex.gsub('#','')}')",
                                     id: hex.gsub('#','')%>
      <% end %>
    </div>
  </div>


</div>