<div class="filter">
  <div class="block_box category_select">
    <h2><%= t('.category_title') %></h2>
    <ul>
      <% for category in @category_group.categories %>
        <li class="<%= 'active' if @main_category.present? && @main_category.id == category.id %>">
          <%= link_to category.name, category_path(params[:locale], category.slug) %>
          <% if @main_category.present? && @main_category.id == category.id %>
          <ul>
            <% for subcategory in category.categories %>
            <li class="<%= 'active' if @category.present? && @category.id == subcategory.id %>"> 
              <%= link_to subcategory.name, category_path(params[:locale], subcategory.slug) %></li>
            <% end %>
          </ul>
          <% end %>
        </li>  
      <% end %>
    </ul>
  </div>
</div>