<div class="product">
  <div class="image_container">
    <%=link_to image_tag( '', "my-src" => product.original.smaller.url, 
                          class: 'product_image',
                          alt: product.name,
                          title: product.name),
                          productref_path(assigned_locale, product),
                          :rel => 'nofollow',
                          :target => '_blank' %>
    <a class="love_button <%= favorite(product) %>" ng-click="clickFavorite('prod',<%= product.id %>)" 
                           id="prod<%= product.id %>"
                           path="<%= product_favorites_path(assigned_locale, product) %>"></a>
  </div>
  <%= link_to t('.details'), product_path(assigned_locale, product), title: product.name, class:'details' %>
  <h3><%= link_to truncate(product.name, length: 100), product_path(assigned_locale, product) %></h3>
  <h4><%= number_to_currency product.price, unit: product.currencyCode %></h4>
</div>