<div class="product">
  <div class="image_container">
    <%=link_to image_tag(product.original.url, class: 'product_image'), product_path(params[:locale], product) %>
    <a class="love_button <%= favorite(product.id) %>" ng-click="clickFavorite(<%= product.id %>)" 
                           id="fav<%= product.id %>"
                           path="<%= product_favorites_path(params[:locale], product) %>"></a>
  </div>
  <h3><%= link_to product.name, product_path(params[:locale], product) %></h3>
  <h4><%= number_to_currency product.price, unit: product.currencyCode %></h4>
</div>