<% content_for :title do "#{@product.name} | #{product_brand(@product)} | #{Settings.app.name}"; end %>

<% content_for :meta do %>

<meta property="og:title" content="<%= @product.name %> | <%= product_brand(@product) %> | <%= Settings.app.name %>"/>
<meta property="og:type" content="product"/>
<meta property="og:url" content="<%=product_url(assigned_locale, @product) %>"/>
<meta property="og:image" content="<%=@product.original.detail_view.url%>"/>
<meta property="og:image:width" content="566" />
<meta property="og:image:height" content="442" />
<meta property="og:locale" content="<%=assigned_locale%>" />
<meta property="og:description" content="<%= @product.description %>" />
<meta property="og:site_name" content="FashionFly" />
<meta property="og:price:amount" content="<%= @product.price %>" />
<meta property="og:price:currency" content="<%= @product.currencyCode %>" />
<meta property="og:availability" content="instock" />
<meta property="og:rating" content="<%= @product.rate_average.try(:avg) %>" />
<meta property="og:rating_scale" content="5" />
<!--
<PageMap>
   <DataObject type="document">
      <Attribute name="title"><%= @product.name %></Attribute>
      <Attribute name="brand"><%= product_brand(@product) %></Attribute>
      <Attribute name="color"><%= product_color(@product) %></Attribute>
      <Attribute name="description"><%= @product.description %></Attribute>
      <Attribute name="category"><%= breadcrumb_product_text @product %></Attribute>
      <Attribute name="likes"><%= @product.favorites_count %></Attribute>
      <Attribute name="rating">
          <%= @product.rate_average.try(:avg) %>
      </Attribute>
      <Attribute name="last_update"><%= @product.updated_at %></Attribute>
   </DataObject>
   <DataObject type="thumbnail">
      <Attribute name="src" value="<%= @product.original.detail_view.url %>" />
      <Attribute name="width" value="566" />
      <Attribute name="height" value="442" />
   </DataObject>
</PageMap>
-->
<% end %>

<div class="product_show" ng-controller="FavoriteController">
  <div class="image_container">
    <%=link_to image_tag('', "my-src" => @product.original.detail_view, 
                      alt: @product.name, 
                      name: @product.name),
                      productref_path(assigned_locale, @product),
                          :rel => 'nofollow',
                          :target => '_blank' %>
    <a class="love_button <%= favorite(@product) %>" ng-click="clickFavorite('prod',<%= @product.id %>)" 
              id="prod<%= @product.id %>"
              path="<%= product_favorites_path(assigned_locale, @product) %>"></a>
  </div>
  <div class="information_area">
    <%= breadcrumb_product_page @product %>
    <div class="top_info">
      <h1><%= @product.name %></h1>
      <div class="ratable">
        <%= rating_for @product, "rate", :star => 5 %> 
        <div class="rate_text">
          <%= t '.rates', count: @product.rates("rate").count %> / <strong><%= t'.rate_now' %></strong>
         </div>
         <div class="clear"></div>
      </div>
    </div>
    <div class="price_info">
      <span class="red"><%=number_to_currency @product.price %></span>
      <span><%= t('.at') %></span>
      <%= image_tag @product.affiliate.logo, 
                    title: @product.affiliate.name, 
                    'ng-click' => "callForm(#{@product.id})",
                    alt: @product.affiliate.name,
                    class: 'shop_button' %>

      <%= form_tag refshop_path(assigned_locale), method: 'post', id: "callForm#{@product.id}" , target: "_blank" do %>
        <%= hidden_field_tag 'product_id', @product.id %>
        <%= button_tag t('.to_shop'), class: 'button' %>
      <% end %>
    </div>
    <div class="specials">
      <ul>
        <li><%= raw t('.free_shipping') %></li>
        <li><%= raw t('.pay_invoice') %></li>
        <li><%= raw t('.garanti') %></li>
      </ul>
    </div>
    <div class="description">
      <%= simple_format raw @product.description %>
      <br />
      <a href="#" ng-click="callForm(<%= @product.id %>)"><%= t('.more') %></a>
    </div>
    <div class="description">
      <strong><%= t('.brand') %> :</strong> <%= product_brand(@product) %><br />
      <strong><%= t('.color') %> :</strong> <%= product_color(@product) %><br />
    </div>
    <div class="description">
     <%= render_shareable  :static_link => true, 
                            :title=> "#{@product.name} | #{product_brand(@product)} | #{Settings.app.name}",
                            :button_caption => t('.share_now'),
                            :buttons=> ['twitter', 'facebook', 'tumblr', 'google_plus', 'pinterest'],
                            :media =>  @product.original.detail_view.url %>
      <br />
      <strong><%= t('.like_count') %> :</strong>
      <%= t('.likes', count:@product.favorites_count) %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% if @product.used_in_collections.present? %>
  <div class="similar" ng-controller="FavoriteController">
    <h2><%= t('.used_in_collections') %></h2>
    <% for collection in @product.used_in_collections %>
      <%= render collection %>
    <% end %>
    <div class="clear"></div>
  </div>
<% end %>
<% if @product.similar_products.any? %>
  <div class="similar" ng-controller="FavoriteController">
    <h2><%= t('.similar_products') %></h2>
    <% for product in @product.similar_products %>
      <%= render product %>
    <% end %>
    <div class="clear"></div>
  </div>
<% end %>

<%= render 'shared/exit_popup', path_to_intent:  category_path(@product.scope.locale, @product.categories.last.slug) %>