<!DOCTYPE html>
<html ng-app="FashionFly">
<head>
  <title>Fashionfly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>
<section class="content">
  <div class="container main">
    <%= yield %>
  </div>
</section>
<footer class="footer">
</div>
<%= query_review_output %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
