<!DOCTYPE html>
<html ng-app="FashionFly" lang="<%=@scope.try(:language)%>">
<head>
  <title><%= yield(:title).presence || Settings.app.name %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="msvalidate.01" content="4A5EC1729EAE2DB7000C7A1E7C41251E" />
  <meta name="p:domain_verify" content="c4bdb55c7a084cba9962d3dd8dc21e82"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <STYLE type="text/css">
    <%= Fashionfly::Application.assets["mobile.css"].to_s.html_safe %>
  </STYLE>
  <%= csrf_meta_tags %>
  <%= yield :meta %>

</head>
<body>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap sticky">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
        </section>

        <section class="middle tab-bar-section custom_topbar">
          <%= link_to root_path, class:'logo_menu' do %>
          <%= image_tag('heart.png') %>
          <span>Fashion<strong>Fly</strong></span>
          <% end %>
        </section>

      </nav>
    <%= render 'shared/off_canvas' %>


    <section class="main-section sticky">
      <section class="row">
        <div class="large-12">



          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "flash #{name}" %>
          <% end -%>
          <%= yield %>
        </div>
      </section>
      <%= yield :seo_text %>
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

<script async type="text/javascript">
  function loadJS( src, cb ){
    "use strict";
    var ref = window.document.getElementsByTagName( "script" )[ 0 ];
    var script = window.document.createElement( "script" );
    script.src = src;
    script.async = true;
    ref.parentNode.insertBefore( script, ref );
    if (cb && typeof(cb) === "function") {
      script.onload = cb;
    }
    return script;
  }
  loadJS('<%= asset_path  "mobile.js" %>');
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43710308-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
<%= render 'cookies_eu/consent_banner', link: '/cookies', target: '_blank' %>

</body>
</html>
