<!DOCTYPE html>
<html ng-app="FashionFly">
<head>
  <title><%= yield(:title).presence || Settings.app.name %></title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= csrf_meta_tags %>
  <%= yield :meta %>

</head>
<body>

<%= render 'shared/header' %>
<section class="content">
  <div class="container main">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "flash #{name}" %>
    <% end -%>
    <%= yield %>
  </div>
</section>
<%= yield :seo_text %>
<%= render 'shared/footer' %>

<%= render 'shared/email_enter_form' if (current_user.present? && current_user.email_has_to_change? || @show_form) %>

<%= javascript_include_tag "application" %>
</body>
</html>
