<!DOCTYPE html>
<html ng-app="FashionFly" lang="<%=@scope.try(:language)%>">
<head>
  <title><%= yield(:title).presence || Settings.app.name %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="msvalidate.01" content="4A5EC1729EAE2DB7000C7A1E7C41251E" />
<meta name="ChineseAN_verifycode" content="800D28B5FCE9AB165DFE720A3A1FD1C9" />
<meta name="p:domain_verify" content="c4bdb55c7a084cba9962d3dd8dc21e82"/>
 <STYLE type="text/css">
    <%= Fashionfly::Application.assets["style.css"].to_s.html_safe %>
  </STYLE>
  <%= csrf_meta_tags %>
  <%= yield :meta %>
</head>
<body>

<%= render 'shared/header' %>
<section class="content">
  <div class="container main">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "flash #{name}" %>
    <% end -%>
    <%= yield %>
  </div>
</section>
<%= yield :seo_text %>
<%= render 'shared/footer' %>

<%= render 'shared/email_enter_form' if (current_user.present? && current_user.email_has_to_change? || @show_form) %>

  <%= render 'shared/loadCSS' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43710308-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

<%= render 'cookies_eu/consent_banner', link: '/cookies', target: '_blank' %>

</body>
</html>
