<p><%= t('.greetings', username: @resource.name ) %></p>
<p><%= t('.why_send') %></p>
<p><%= t('.what_to_do') %> 
<%= link_to t('.action_link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
</p>
<p><%= t('users.mailer.confirmation_instructions.notes') %></p>
<p><%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
</p>
<p><%= t('.ignore') %></p>
<%= render 'users/mailer/footer'%>
