<div class="container">
  <%= render 'profiles/navigation',  active: {edit: 'active' } %>

  <div class="profile_formular">
    <h1> <%= t 'action.edit_resource' %></h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'formular' }) do |f| %>
      <%= devise_error_messages! %>

      <div>
        <%= f.label :email, class:'label' %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <span class="info"><%= t('.wait_confirmation', email: resource.unconfirmed_email) %></span>
        <% end %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div>
        <%= f.label :password, class:'label' %> 
        <span class="info"><%= t('.leaf_blank') %></span>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div>
        <%= f.label :password_confirmation, class:'label' %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div>
        <%= f.label :current_password, class:'label' %>
        <span class="info"><%= t('.old_pass') %></span>
        <%= f.password_field :current_password, autocomplete: "off" %></div>

      <div><%= f.submit t('action.update'), class: 'button' %></div>
    <% end %>

    <h2>Cancel my account</h2>

    <p><%= t('.unhappy') %></p>
    <p><%= button_to  t(".cancel_my_account"), 
                      registration_path(resource_name), 
                      data: { confirm: t('action.destroy_confirm', entity: t('.account')) }, 
                      method: :delete, class: 'button'%>
    </p>

  </div>
  <div class="clear"></div>
</div>
