<div class="white_box devise">

  <div class="left">
    <h1><%= t('.title') %></h1>
  <%= form_for(resource, as: resource_name, html: {class: 'formular'}, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.text_field :name, 
                      autofocus: true, 
                      placeholder: t('.placeholder_name'), 
                      :class => field_class(resource, :email) %>
   
    <%= f.email_field :email, 
                      placeholder: t('.placeholder_email'), 
                      :class => field_class(resource, :email) %>

    <%= f.email_field :email_confirmation, 
                      placeholder: t('.placeholder_email_confirmation'), 
                      :class => field_class(resource, :email_confirmation)  %>
    <%= f.password_field  :password, 
                          autocomplete: "off", 
                          placeholder: t('.placeholder_password'), 
                          :class => field_class(resource, :password) %>
    <%= f.password_field  :password_confirmation, 
                          autocomplete: "off", 
                          placeholder: t('.placeholder_password_confirmation'), 
                          :class => field_class(resource, :password_confirmation) %>
                          
    <%= f.submit t(".sign_up"), class: 'button' %>
  <% end %>
  <%= render "users/shared/links" %>
  </div>
  <div class="right">
    <div class="seperator"><span><%=t('users.sessions.new.or') %></span></div>
    <%= render "users/shared/oauth" %>
  </div>

</div>